<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>Wanderlust</h5>
          <p>Discover unique places to stay, experiences to share, and adventures to explore.</p>
        </div>
        <div class="col-md-4">
          <h5>Quick Links</h5>
          <ul>
            <li><a href="/list">Home</a></li>
            <li><a href="/list">All Listings</a></li>
            <li><a href="/list/create">Add New Place</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Follow Us</h5>
          <div class="social-icons">
            <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <p>&copy; 2025 Wanderlust. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  